@{
    ViewData["Title"] = "Home Page";
}
<body class="body-index">
    @*<blockquote class="pull-right">
            <p>Essere o non essere, questo è il problema.</p>
            <small>William Shakespeare, Amleto</small>
        </blockquote>*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../image/Background/Mobili_Interni.jpg')">
                <div class="under-wrap-homepage">
                    <div class="wrap-homepages-margin">
                        <div class="homepage-padding">
                            <div class="conteiner-logo">
                                @*<img src="~/Image/Product/Arredamenti.A.jpg" />*@
                                <img class="img-logo" src="~/Image/Background/Logo_MobiliNew.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Arredo Interno</h2>
                    @*<p class="lead">This is a description for the first slide.</p>*@
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../image/Background/Mobili_Giardino.jpg')">
                <div class="under-wrap-homepage">
                    <div class="wrap-homepages-margin">
                        <div class="homepage-padding">
                            <div class="conteiner-logo">
                                <img class="img-logo" src="~/Image/Background/Logo_MobiliNew.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Arredo Giardini</h2>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../image/Background/Mobili_Bagno.jpg')">

                <div class="under-wrap-homepage">
                    <div class="wrap-homepages-margin">
                        <div class="homepage-padding">
                            <div class="conteiner-logo">
                                <img class="img-logo" src="~/Image/Background/Logo_MobiliNew.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Arredo Bagno</h2>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>


@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
