@using MobiliNew.Web.Models.ReturnModels;
@model IEnumerable<ProductReturnModels>;
@{
    ViewData["Title"] = "ProductCat";
    Layout = "~/Views/Product/Index.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
<h1>ProductCat</h1>


